@font-face {
  font-family: 'Cash Sans Regular';
  src: url('@/type/CashSans-Regular.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Cash Sans Medium';
  src: url('@/type/CashSans-Medium.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Cash Mono Regular';
  src: url('@/type/SquareSansMono-Medium.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Exact Block Regular';
  src: url('@/type/ExactBlock-Regular.woff') format('woff');
  font-display: block;
}

.cash-regular {
  font-family: "Cash Sans Regular", serif;
}

.cash-medium {
  font-family: "Cash Sans Medium", serif;
}

.monospace {
  font-family: "Cash Mono Regular", monospace;
  letter-spacing: -0.01rem;
}

.exact {
  font-family: "Exact Block Regular", serif;
}

:root {
  --system-font: -apple-system, BlinkMacSystemFont, "avenir next",
    "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
  --cash-regular: 'Cash Sans Regular', var(--system-font);
  --cash-medium: 'Cash Sans Medium', var(--system-font);
  --cash-mono-regular: 'Cash Mono Regular', var(--system-font);
  --unit: 1.2rem;
  --max-width: 200rem;
  --ease: 200ms ease;
  --ease-qubic: 700ms cubic-bezier(0.8, 0, 0.16, 1);
  --spring: linear(0.00, 0.016, 0.048, 0.095, 0.150, 0.210, 0.270, 0.329, 0.383, 0.430, 1.027, 1.057, 1.079, 1.092, 1.102, 1.102, 1.097, 1.088, 1.079, 1.067, 1.048, 1.035, 1.022, 1.009, 0.999, 0.991, 0.986, 0.980, 0.977, 0.976, 0.977, 0.979, 0.980, 0.983, 0.986, 0.989, 0.993, 0.996, 0.998, 1.00, 1.004, 1.004, 1.004, 1.004, 1.004, 1.004, 1.004, 1.004, 1.004, 1.004, 1.004, 1.00, 1.00, 1.00, 0.999, 1.00);
  // z-index
  --zmax: 9999;
  --z5: 5;
  --z4: 4;
  --z3: 3;
  --z2: 2;
  --z1: 1;
  --z0: -1;
  --zmin: -9999;
  // radius
  --radius-phone: 5.6rem;
  --border-thickness: 1.2rem;
  --radius-inner: calc(var(--radius-phone) - var(--border-thickness));
  --stroke-shimmer-light: 0 0.5px 0 0.5px rgba(255, 255, 255, 0.12) inset;
  --stroke-shimmer: 0 0.5px 0 .5px rgba(255, 255, 255, 0.2) inset;
  --stroke-shimmer-heavy: 0 0.5px 0 .5px rgba(255, 255, 255, 0.32) inset;
  // color
  --bg: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 62.5% !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
  height: 100dvh;
  // overscroll-behavior: none;
}

body {
  font: normal 1.5rem/1.4 var(--cash-regular);
  color: #000;
  background: #fff;
  text-rendering: optimizeSpeed;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
blockquote,
caption,
ul,
li,
img,
button,
section,
article,
figure,
main,
menu,
footer {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="color"],
input[type="file"],
input[type="range"],
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: inherit;
  color: inherit;
  line-height: inherit;
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #ffffff72;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #ffffff72;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #ffffff72;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #ffffff72;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
}

figure,
figcaption {
  display: initial;
  position: relative;
}

video,
img {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: top;
}

ul {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

// helpers
.debug {
  border: 2px solid hotpink;
}

// slides
.slide-container {
  margin: 0 auto;
  max-width: 140rem;
  width: 100%;
  height: 100%;
}

// a11y
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
